* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: green;
}

#game-section {
    display: none;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 30px;
}

/*------Welcome section styling-----*/
#welcome-section {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.border-container {
    border: solid 3px;
    border-color: green;
    height: auto;
    width: max-content;
    padding: 5rem;
}



/*-----Game section styling------*/

#game-section {
    align-items: center;
    text-align: center;
    flex-direction: column;
}


#player-side-container {
    justify-content: center;
}

#computer-side-container {
    display: flex;
    align-items: flex-start;
    float: right;
}

/*-----footer styling------*/

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.drop-up-help {
    position: relative;
    float: right;
}


/*-----media queries------*/

@media screen and (max-width: 600px) {
    body {
        background-color: rgba(26, 25, 25, 0.255);
    } 
}